<section class="grid-header">
    <a href="https://www.konami.com/yugioh/duel_links/en/">
    <div class="gridhead1">
      <p>Official Yu-Gi-Oh! Duel Links Website by</p>
        {% include image-inline.html max-width="50%" file="img/konami_logo_normal.png" alt="Yu-Gi-Oh! Duel Links" %}
        {% include image-inline.html max-width="50%" file="img/sub_logo.png" alt="Yu-Gi-Oh! Duel Links" %}
    </div>
    </a>
    <div class="gridhead2">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </div>
    <div class="gridhead3">
        {% include image-header.html max-width="100%" file="img/mainvisual-4thaniv_pc.png" alt="Yu-Gi-Oh! Duel Links" caption="" %}
    </div>
    <div class="gridhead4"></div>
    <div class="gridhead5">
        <a href="https://sharlikran.github.io/" class="btn">Sharlikran</a>
        <a href="https://tes5edit.github.io/" class="btn">xEdit</a>
        <a href="https://esouimods.github.io/" class="btn">ESOUI Code Collection</a>
        <a href="https://pokemon-fansite.github.io/" class="btn">PokemonGo</a>
        <a href="http://sharlikran.github.io/fsdoc/" class="btn">Fallout shelter Wiki</a>
        <a href="https://wrye-code-collection.github.io/" class="btn">Wrye-Code-Collection</a>
        <a href="https://wrye-code-collection.github.io/wcc-wiki/" class="btn">Wrye-Code-Collection Wiki</a>
        <a href="https://tes5edit.github.io/docs/" class="btn">xEdit documentation</a>
    </div>
    <div class="gridhead6">
        <a href="index.html" class="btn">Home</a>
    </div>
</section>
